.my-card-body{
    height: calc( 100vh - (55.03px + 40.03px) );
}

/*elipsisが当たっていると１行になる*/
.elipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width:768px) {
    .my-card-body{
        height: auto;
        max-height: 50vh;
    }
}

.img{
    width: 266px;
	height: 266px;
}

.icon{
    width: 50%;
	height: 50%;
}

footer.footer{
    background-color: #343a40;
    color: #fff;
    text-align: center;
}