.my-card-body{
    height: calc( 111vh - (55.03px + 40.03px) );
}

/*elipsisが当たっていると１行になる*/
.elipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width:768px) {
    .my-card-body{
        height: auto;
        max-height: 50vh;
    }
}

img {
    width: 266px;
    height: 266px;
    object-fit: cover;
}

.icon{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.like{
    padding-left: 100px;
}

.liked{
    padding-left: 100px;
    color: red;
}

footer.footer{
    background-color: #343a40;
    color: #fff;
    text-align: center;
}

.button{
    width: 133.25px;
}

.radio-plain {
    top: 8px;
    position: relative;
}

.date{
    position: relative;
}